﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Daniel Regan">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Application</title>
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css", "~/Content/vendorcss")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="vendor/respond/respond.js"></script>
    <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->
</head>
<body>
    <div class="body" style="font-family: 'Open Sans'">
        <header id="header" class="single-menu flat-menu valign font-color-light" style="background: #151925; border-top:  5px #151925 solid; display: block;">
            <div class="container">
                <div class="logo">
                    <a href="index.cshtml">
                        <h2 style="color: #fff; margin-top: 0px; font-family:'Open Sans'">DR Test Application</h2>
                    </a>
                </div>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse" style="margin-top: -20px; display: none;">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <nav class="nav-main mega-menu" style="margin-top: -5px;">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li class="dropdown">
                                <a class="dropdown" href="index.cshtml">
                                    Home
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="teachers.cshtml">
                                    Teachers
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="subjects.cshtml">
                                    Subjects
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="pupils.cshtml">
                                    Pupils
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="lessons.cshtml">
                                    Lessons
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="classrooms.cshtml">
                                    Classrooms
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div role="main" class="main">
            <div class="container">
                <br>
                <h2 style="margin-bottom:0px"><strong>Welcome</strong> to my Test Application</h2>
                <hr style="margin-bottom: 0px">
                <section class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Welcome</strong></h2>
                    </div>
                    <div class="panel-body">
                        Hello, and thanks for looking at my test application.
                        <br /><br />
                        Firstly I would like to apologise that it's incomplete, I did not know Knockout before this task (although I have some knowledge of it), I was determined to impress with my Full Stack development ability, but set an unrealistic target of learning this new technology in just a few nights and thus I now have no proper presentation layer to show (I really wanted the extra brownie points).
                        <br /><br />
                        I thought I would use this page to explain a bit of information about what I have achieved.
                        <br /><br />
                        <ul>
                            <li>
                                A Data Model using Entity Framework using Code First (Please see below for Database Model)
                            </li>
                            <li>
                                A Data Access Layer using the Repository Pattern and Unit of Work pattern
                            </li>
                            <li>
                                A Business Logic Layer (Web API 2) encompassing full CRUD on the whole data model
                            </li>
                            <li>
                                And I've learnt a lot about Knockout, and will continue to learn in this subject due to genuine interest and desire to now successfully implement it
                            </li>
                        </ul>
                        <br /><br />
                        <h2 class="panel-title"><strong>Data Model / Data Access Layer</strong></h2>
                        <br />
                        <div class="col-md-12">
                            As mentioned above, I set out to complete this project using Entity Framework Code First, which I succeeded (minus seeds on the link tables, but I've made a little SQL insert to populate them for now (TestApplication.Website.SQL)).
                            I followed the POCO / Repository / Unit of Work pattern to make the code as extensible as possible, and allow for easy, clear tests (not written yet).
                            <br /><br />
                            Below you can see my Data Model (Generated by Visual Studio).
                            <br /><br />
                        </div>
                        <img src="~/img/datamodel.png" />
                        <hr />
                        <h2 class="panel-title"><strong>Business Logic Layer</strong></h2>
                        <br />
                        Using Web API I have built full CRUD controllers for all entities in the project and although I never got to wrap up the Business Logic into a presentation layer I wanted to provide some links for you to see the JSON being returned.
                        <br /><br />
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <tbody>
                                <tr align="center">
                                    <td>
                                        <strong>URL</strong>
                                    </td>
                                    <td align="left">
                                        <strong>Expected outcome</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Rooms">/api/Rooms</a></td>
                                    <td align="left">Get all Rooms</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Rooms/1">/api/Rooms/1</a></td>
                                    <td align="left">Get Room with ID: 3</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Pupils">/api/Pupils</a></td>
                                    <td align="left">Get all Pupils</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Pupils/4">/api/Pupils/4</a></td>
                                    <td align="left">Get Pupil with ID: 4</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Pupils/4">/api/Pupils/4</a></td>
                                    <td align="left">Get Pupil with ID: 4</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Teachers">/api/Teachers</a></td>
                                    <td align="left">Get all Teachers</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Teachers/1">/api/Teachers/1</a></td>
                                    <td align="left">Get Teacher with ID: 1</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Subjects">/api/Subjects</a></td>
                                    <td align="left">Get all Subjects</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Subjects/3">/api/Subjects/3</a></td>
                                    <td align="left">Get Subjects with ID: 3</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Lessons">/api/Lessons</a></td>
                                    <td align="left">Get all Lessons (with keyed teacher/classroom/subject objects)</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Lessons/1">/api/Lessons/1</a></td>
                                    <td align="left">Get Lesson with ID: 1</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Attending">/api/Attending</a></td>
                                    <td align="left">Get all attendance records</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/AttendingLesson/2">/api/AttendingLesson/2</a></td>
                                    <td align="left">Get all students attending Lesson ID: 2 (Lesson object comes back too)</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/AttendingPupil/1">/api/AttendingPupil/1</a></td>
                                    <td align="left">Get all lessons be attended by Student ID: 2 (Student object comes back too)</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="/api/Lookups/all">/api/Lookups/all</a></td>
                                    <td align="left">Get all base objects (Pupils, Teachers, Rooms, Subjects, Lessons)</td>
                                </tr>
                        </table>
                        <br /><br />
                        On top of seeing the API doing Gets and GetById requests, if you have fiddler you can fire Put (update), Delete (delete) and Push (create) calls at the API to see this in action.
                        The controllers have some dependency injection (courtesy of the Ninject library) to create units of work to expose the UOW methods to the controller.
                        Other than that, the Business Logic layer is a fairly simple layer.
                        <hr />
                        <h2 class="panel-title"><strong>Presentation Layer</strong></h2>
                        <br />
                        As mentioned above, having no practical use of KnockoutJS I should have set my sights a little lower and provided a functional front-end and if time allowed wrote this into a SPA. Of that I apologise and completely understand I haven't hit the brief.
                        <br /><br />
                        However I have made some progess as you'll be able to see in the panel below (Lessons Panel), the repeater know's it has lessons back, however I had issues casting the nested classes into the object I had created. Therefore binding this was a pain.
                        <br /><br />
                        My Knockout was left with: <br /><br />
                        <code>
                            0: {id: 1, name: "Lesson 1",…}<br />
                            1: {id: 2, name: "Lesson 2",…}<br />
                            2: {id: 3, name: "Lesson 3",…}<br />
                            3: {id: 4, name: "Lesson 4",…}
                        </code>
                        <br /><br />
                        However the HttpResponse was: <br /><br />
                        <code>[{"id":1,"name":"Lesson 1","teacher":{"id":3,"firstName":"Sophie","lastName":"Adams","emailAddress":"teacher3@foo.com"},"classroom":{"id":1,"name":"Great Hall"},"subject":{"id":4,"name":"jQuery"},"startTime":"2016-02-10T09:30:00","endTime":"2016-02-10T10:30:00"},<br /><br />{"id":2,"name":"Lesson 2","teacher":{"id":4,"firstName":"Tristan","lastName":"Sanchez","emailAddress":"teacher4@foo.com"},"classroom":{"id":2,"name":"Room 1A"},"subject":{"id":3,"name":"SQL"},"startTime":"2016-02-10T09:00:00","endTime":"2016-02-10T10:30:00"},<br /><br />{"id":3,"name":"Lesson 3","teacher":{"id":5,"firstName":"Carson","lastName":"Morgan","emailAddress":"teacher5@foo.com"},"classroom":{"id":3,"name":"Room 1B"},"subject":{"id":4,"name":"jQuery"},"startTime":"2016-02-10T10:30:00","endTime":"2016-02-10T14:30:00"},<br /><br />{"id":4,"name":"Lesson 4","teacher":{"id":1,"firstName":"Chloe","lastName":"Martinez","emailAddress":"teacher1@foo.com"},"classroom":{"id":1,"name":"Great Hall"},"subject":{"id":1,"name":"C#"},"startTime":"2016-02-10T16:30:00","endTime":"2016-02-10T17:30:00"}]</code>
                        <br /><br />
                        If I had a bit more time to understand the workings of KnockoutJS in regards to MVVM and the SPA setup I am sure I could have produced something to a very high standard, however please again accept my apologies.
                        <hr />
                        <h2 class="panel-title"><strong>Final Words</strong></h2>
                        <br />
                        I would like to thank you for your time, and the opportunity, the task has been one I have enjoyed, I feel it was a good challenge and as it was a new technology, it stretched me to expand my knowledge which is always welcome.
                        <br /><br />I will continue to learn KnockoutJS (and probably Angular as they seem very similar). I look forward to hearing back from you.
                        <br /><br />
                        Kind Regards,<br />
                        <b>Daniel Regan</b>
                    </div>
                </section>
                <hr style="margin-bottom: 0px">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title"><strong>Lessons</strong> </h2>
                    </header>
                    <div class="panel-body">
                        <div class="panel-body">

                            <div class="col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Create new Lesson</h2>
                                    </div>
                                    <div class="panel-body" data-bind="with: addLessonViewModel">
                                        @RenderPage("Views/_LessonsAdd.cshtml")
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Lessons</h2>
                                    </div>
                                    <div class="panel-body" data-bind="with: lessonListViewModel">
                                        @RenderPage("Views/_LessonsList.cshtml")
                            </div>
                        </div>
                    </div>
                        @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/javascriptlibs",
        "~/bundles/knockout"
        )
                        <script src="/KnockoutModels/LessonsViewModel.js"></script>
</body>
</html>