﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Daniel Regan">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Application</title>
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css", "~/Content/vendorcss")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="vendor/respond/respond.js"></script>
    <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->
</head>
<body>
    <div class="body" style="font-family: 'Open Sans'">
        <header id="header" class="single-menu flat-menu valign font-color-light" style="background: #151925; border-top:  5px #151925 solid; display: block;">
            <div class="container">
                <div class="logo">
                    <a href="index.cshtml">
                        <h2 style="color: #fff; margin-top: 0px; font-family:'Open Sans'">DR Test Application</h2>
                    </a>
                </div>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse" style="margin-top: -20px; display: none;">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <nav class="nav-main mega-menu" style="margin-top: -5px;">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li class="dropdown">
                                <a class="dropdown" href="index.cshtml">
                                    Home
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="teachers.cshtml">
                                    Teachers
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="subjects.cshtml">
                                    Subjects
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="pupils.cshtml">
                                    Pupils
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="lessons.cshtml">
                                    Lessons
                                </a>
                            </li>
                            <li class="dropdown mega-menu-item mega-menu-fullwidth">
                                <a class="dropdown" href="classrooms.cshtml">
                                    Classrooms
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div role="main" class="main">
            <div class="container">
                <br>
                <h2 style="margin-bottom:0px"><strong>Lessons</strong></h2>
                <hr style="margin-bottom: 0px">

                <section class="panel panel-default">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title"><strong>Lessons</strong> </h2>
                    </header>
                    <div class="panel-body">
                        <div class="panel-body">

                            <div class="col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Create new Lesson</h2>
                                    </div>
                                    <div class="panel-body" data-bind="with: addLessonViewModel">
                                       @RenderPage("Views/_LessonsAdd.cshtml")
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Lessons</h2>
                                    </div>
                                    <div class="panel-body" data-bind="with: lessonListViewModel">
                                        @RenderPage("Views/_LessonsList.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
                        @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/javascriptlibs",
        "~/bundles/knockout"
        )

                <script src="/KnockoutModels/LessonsViewModel.js"></script>

               <script type="text/javascript">

                   function getTeachers() {
                       var teachers = new Array();

                       $.getJSON('/api/Teachers', function (data) {
                           var options = '';
                           $.each(data, function (index) {
                               data[index].id;
                               data[index].firstName + ' ' + data[index].lastName;
                           });

                           $('#append').append(options);

                       });
                   }

                </script>

</body>
</html>