﻿<article class="article-right-content">

    <div class="lesson-brief" title="Go to lesson details">
        <span data-bind="text:name()"></span>
        <span data-bind="text.startTime().shortStart"></span>
        <span data-bind="text.endTime().shortStart"></span>
        <span data-bind="text:subject()"></span>
        <span data-bind="text.teacher()"></span>
        <span data-bind="text.room()"></span>

    </div>


</article>