html {
	direction: ltr;
}

body {
	background-color: white;
	color: #777777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

body a {
	outline: none !important;
}

li {
	line-height: 24px;
}

/* Responsive */
@media (max-width: 479px) {
	body {
		font-size: 13px;
	}
}
/* Header Container */
.header-container {
	min-height: 76px;
	position: relative;
}

/* Header */
#header {
	background: #F6F6F6;
	background: -webkit-linear-gradient( #f6f6f6, white);
	background: linear-gradient( #f6f6f6, white);
	clear: both;
	border-top: 5px solid #EDEDED;
	min-height: 100px;
	padding: 8px 0;
}

#header > .container {
	height: 100px;
	margin-bottom: -35px;
	position: relative;
	display: table;
	max-width: 1170px;
}

#header > .navbar-collapse > .container {
	position: relative;
}

#header .header-top {
	min-height: 50px;
}

#header .header-top form {
	margin: 0;
}

#header .header-top p {
	float: left;
	font-size: 0.9em;
	line-height: 50px;
	margin: 0;
}

#header .header-top i {
	margin-right: 6px;
	margin-left: 6px;
	position: relative;
	top: 1px;
}

#header .header-top nav {
	float: left;
	width: auto;
}

#header .header-top ul.nav-top {
	margin: 7px 0 0 -15px;
	min-height: 5px;
}

#header .header-top ul.nav-top li.phone {
	margin-right: 10px;
}

#header .header-top ul.nav-top li a {
	padding-left: 4px;
}

#header .social-icons {
	clear: right;
	float: right;
	margin-top: -3px;
	margin-left: 5px;
	position: relative;
}

#header .search {
	float: right;
	margin: 10px 0 0 15px;
	position: relative;
}

#header .search + .social-icons {
	clear: none;
	margin-left: 10px;
	margin-right: 0;
	margin-top: 13px;
}

#header .search input.search:first-child {
	-webkit-transition: width 0.2s ease-in 0.2s;
	-moz-transition: width 0.2s ease-in 0.2s;
	transition: width 0.2s ease-in 0.2s;
	border-radius: 20px;
	width: 170px;
	font-size: 0.9em;
	padding: 6px 12px;
	height: 34px;
	margin: 0;
}

#header .search input.search:focus {
	width: 220px;
	border-color: #CCC;
}

#header .search button.btn-default {
	border: 0;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	z-index: 3;
}

#header nav {
	float: right;
}

#header nav ul.nav-top {
	margin: 10px 0 -10px;
	min-height: 62px;
}

#header nav ul.nav-top li span {
	display: block;
	line-height: 14px;
	margin-bottom: 2px;
	margin-right: 0;
	margin-top: 5px;
	padding: 8px 2px 8px 12px;
}

#header nav ul.nav-top li a, #header nav ul.nav-top li span {
	color: #999;
	font-size: 0.9em;
	padding: 6px 10px;
}

#header nav ul.nav-top li i {
	margin-right: 6px;
	position: relative;
	top: 1px;
}

#header .not-included {
	color: #b7b7b7;
	display: block;
	font-size: 0.8em;
	font-style: normal;
	margin: -8px 0 -4px;
	padding: 0;
}

#header .tip {
	display: inline-block;
	padding: 0 5px;
	background: #FFF;
	color: #111;
	text-shadow: none;
	border-radius: 3px;
	margin-left: 8px;
	position: relative;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}

#header .tip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}

#header .tip.skin {
	color: #FFF;
}

/* Logo */
#header .logo {
	-webkit-transition: all 0.2s ease-in 0.2s;
	-moz-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
	margin: 0;
	padding: 5px 0;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: transparent;
}

#header .logo a {
	position: relative;
	z-index: 1;
}

#header .logo img {
	position: relative;
	color: transparent;
}

/* Responsive Nav Button */
.btn-responsive-nav {
	display: none;
}

/* Sticky Menu */
#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
}

body.sticky-menu-active #header {
	border-bottom: 1px solid #E9E9E9;
	position: fixed;
	top: -57px;
	width: 100%;
	z-index: 1001;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	filter: none;
}

body.sticky-menu-active #header .social-icons {
	margin-top: -1px;
}

body.sticky-menu-active #header nav ul.nav-main {
	margin-bottom: 7px;
	margin-top: -4px;
}

body.sticky-menu-active.always-sticky #header {
	top: 0;
}

body.sticky-menu-active.always-sticky #header nav ul.nav-main {
	margin: -7px 10px 8px 0;
}

body.sticky-menu-active.always-sticky #header .social-icons {
	margin-top: -3px;
}

body.scrolling .nav-main-collapse.collapsing {
	-webkit-transition: none;
	transition: none;
}

@media (min-width: 992px) {
	#header nav {
		float: right;
	}

	#header nav ul.nav-main {
		margin: -7px 10px 8px 0;
	}

	#header nav ul.nav-main > li + li {
		margin-left: -4px;
	}

	#header nav ul.nav-main li a {
		font-size: 12px;
		font-style: normal;
		line-height: 20px;
		margin-left: 3px;
		margin-right: 3px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px 13px;
	}

	#header nav ul.nav-main li a:hover {
		background-color: #F4F4F4;
	}

	#header nav ul.nav-main li a:focus {
		background: transparent;
	}

	#header nav ul.nav-main li a i.fa-caret-down {
		position: relative;
		top: -1px;
		margin-left: 2px;
	}

	#header nav ul.nav-main li ul a {
		text-transform: none;
		font-weight: normal;
		font-size: 0.9em;
	}

	#header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
		border-radius: 5px 5px 0px 0px;
	}

	#header nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 11px;
		margin-bottom: -1px;
	}

	#header nav ul.nav-main li.dropdown:hover > ul {
		display: block;
	}

	#header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
		border-radius: 5px 5px 0px 0px;
	}

	#header nav ul.nav-main ul.dropdown-menu {
		border: 0;
		border-top: 5px solid #CCC;
		border-radius: 0 6px 6px 6px;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
		margin: 1px 0 0 3px;
		padding: 5px;
		top: auto;
		text-align: left;
		min-width: 200px;
	}

	#header nav ul.nav-main ul.dropdown-menu li:hover > a {
		filter: none;
		background: #c93a3a;
        color: #fff;
	}

	#header nav ul.nav-main ul.dropdown-menu li:last-child > a {
		border-bottom: 0;
	}

	#header nav ul.nav-main ul.dropdown-menu > li > a {
		color: #777777;
		font-weight: 400;
		padding-bottom: 4px;
		padding-top: 4px;
		text-transform: none;
		position: relative;
		padding: 8px 20px 8px 5px;
		font-size: 0.9em;
		border-bottom: 1px solid #F4F4F4;
	}

	#header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
		border-top: 0;
		border-radius: 6px;
		margin-left: 0;
		margin-top: -5px;
	}

	#header nav ul.nav-main .dropdown-submenu {
		position: relative;
	}

	#header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		border-radius: 0 6px 6px 6px;
	}

	#header nav ul.nav-main .dropdown-submenu .fa-caret-down {
		display: none;
	}

	#header nav ul.nav-main .dropdown-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #FFF;
		margin-top: 5px;
		margin-right: -10px;
		position: absolute;
		top: 8px;
		right: 15px;
	}

	#header nav ul.nav-main .dropdown-submenu.pull-left {
		float: none;
	}

	#header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
		left: -100%;
		margin-left: 10px;
		border-radius: 6px 0 6px 6px;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: #FFF;
	}

	#header .nav-main-collapse {
		overflow-y: visible;
	}

	#header .nav-main-collapse.in {
		overflow-y: visible;
	}

	#header.font-color-light nav.nav-main ul.nav-main > li.active > a,
	#header.font-color-light nav.nav-main ul.nav-main > li > a {
		color: #FFF;
	}

	body.sticky-menu-active #header.font-color-light nav.nav-main ul.nav-main > li.active > a,
	body.sticky-menu-active #header.font-color-light nav.nav-main ul.nav-main > li > a {
		color: #777;
	}

	#header.font-color-dark nav.nav-main ul.nav-main > li.active > a,
	#header.font-color-dark nav.nav-main ul.nav-main > li > a {
		color: #444;
	}
}
/* Header Mega Menu */
@media (min-width: 992px) {
	#header nav.mega-menu .nav, #header nav.mega-menu .dropup, #header nav.mega-menu .dropdown, #header nav.mega-menu .collapse {
		position: static;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-content {
		text-shadow: none;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
		color: #333333;
		display: block;
		font-size: 1em;
		font-weight: 600;
		padding-bottom: 5px;
		text-transform: uppercase;
		margin-top: 20px;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title:first-child {
		margin-top: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
		background: #FFF !important;
		border-top: 6px solid #CCC;
		color: #777777;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a {
		color: #777777;
		text-shadow: none;
		margin: 0 0 0 -8px;
		padding: 3px 8px;
		text-transform: none;
		font-size: 0.9em;
		display: block;
		font-weight: normal;
		border-radius: 4px;
		border: 0;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
		background: #F4F4F4 !important;
		text-decoration: none;
	}

	#header nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
		border-radius: 6px;
	}

	#header nav.mega-menu .navbar-inner, #header nav.mega-menu .container {
		position: relative;
	}

	#header nav.mega-menu .dropdown-menu {
		left: auto;
	}

	#header nav.mega-menu .dropdown-menu > li {
		display: block;
	}

	#header nav.mega-menu .mega-menu-content {
		padding: 20px 30px;
	}

	#header nav.mega-menu .mega-menu-content:before {
		display: table;
		content: "";
		line-height: 0;
	}

	#header nav.mega-menu .mega-menu-content:after {
		display: table;
		content: "";
		line-height: 0;
		clear: both;
	}

	#header nav.mega-menu.navbar .nav > li > .dropdown-menu:after, #header nav.mega-menu.navbar .nav > li > .dropdown-menu:before {
		display: none;
	}

	#header nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
	}

	#header nav.mega-menu nav.pull-right .dropdown-menu {
		right: 0;
	}

	#header.flat-menu nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
		border-radius: 0;
	}
}
/* Header Flat Menu */
@media (min-width: 992px) {
	#header.flat-menu > .container {
		height: 91px;
		margin-bottom: -82px;
	}

	#header.flat-menu .header-top {
		margin-top: -8px;
	}

	#header.flat-menu .social-icons {
		margin: 11px 10px 9px 10px;
		margin: 10px 10px 0;
	}

	#header.flat-menu .search {
		margin-top: 8px;
	}

	#header.flat-menu .search form {
		margin: 0;
	}

	#header.flat-menu .search input.search-query {
		padding-bottom: 5px;
		padding-top: 5px;
	}

	#header.flat-menu nav ul.nav-main {
		float: right;
		margin: -9px 0 -8px;
	}

	#header.flat-menu nav ul.nav-main > li > a {
		background: transparent;
		margin-bottom: 0;
		border-top: 5px solid transparent;
	}

	#header.flat-menu nav ul.nav-main li a {
		border-radius: 0;
		margin-left: 1px;
		margin-right: 3px;
		padding-bottom: 20px;
		padding-top: 46px;
	}

	#header.flat-menu nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
		border-radius: 0;
	}

	#header.flat-menu nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 21px;
	}

	#header.flat-menu nav ul.nav-main ul.dropdown-menu {
		margin: -20px 0 0 1px;
		border-radius: 0;
	}

	#header.flat-menu nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
		border-radius: 0;
	}

	#header.flat-menu nav ul.nav-main .mega-menu-signin ul.dropdown-menu li a,
	#header.flat-menu nav ul.nav-main .mega-menu-signin ul.dropdown-menu:hover li:hover li:hover a {
		color: #333;
	}

	/* Header Flat Menu - Sticky Menu / Boxed */
	body.sticky-menu-active #header.flat-menu ul.nav-main {
		margin-bottom: -10px;
		margin-top: 34px;
	}

	body.sticky-menu-active #header.flat-menu ul.nav-main > li > a, body.sticky-menu-active #header.flat-menu ul.nav-main > li:hover > a {
		border-top-color: transparent;
		padding-bottom: 26px;
		padding-top: 26px;
	}

	body.sticky-menu-active #header.flat-menu .header-top {
		display: none;
	}

	html.boxed #header.flat-menu {
		padding: 15px 0 7px;
	}

	html.boxed #header.flat-menu.clean-top {
		padding-bottom: 8px;
	}

	html.boxed #header.flat-menu.colored {
		padding: 0 0 7px;
	}

	html.boxed #header.flat-menu.single-menu nav ul.nav-main ul.dropdown-menu {
		margin-top: -1px;
	}

	html.boxed #header.flat-menu .header-top {
		border-radius: 5px 5px 0 0;
	}

	html.boxed body.sticky-menu-active #header.flat-menu.clean-top, html.boxed body.sticky-menu-active #header.flat-menu.colored {
		padding: 15px 0 7px;
	}
}
/* Header Single Menu */
@media (min-width: 992px) {
	#header.single-menu {
		min-height: 86px;
	}

	#header.single-menu > .container {
		height: 91px;
		margin-bottom: -77px;
	}

	#header.single-menu .social-icons {
		margin-top: 32px;
	}

	#header.single-menu .search {
		display: none;
	}

	#header.single-menu .search + nav {
		display: none;
	}

	#header.single-menu nav ul.nav-main {
		margin: -28px 0 -9px;
		float: right;
	}

	#header.single-menu nav ul.nav-main li a, #header.single-menu nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 20px;
		padding-top: 62px;
	}

	#header.single-menu nav.mega-menu .mega-menu-signin {
		margin-right: 0;
	}

	#header.single-menu.valign .social-icons {
		margin-top: 15px;
	}

	#header.single-menu.valign nav ul.nav-main > li > a, #header.single-menu.valign nav ul.nav-main > li.dropdown:hover > a {
		padding-bottom: 42px;
		padding-top: 47px;
	}

	/* Header Single Menu - Sticky Menu / Boxed */
	body.sticky-menu-active #header.single-menu .logo, body.sticky-menu-active #header.single-menu.valign .logo {
		padding-top: 14px;
	}

	body.sticky-menu-active #header.single-menu .social-icons, body.sticky-menu-active #header.single-menu.valign .social-icons {
		margin-top: 54px;
	}

	body.sticky-menu-active #header.single-menu nav ul.nav-main, body.sticky-menu-active #header.single-menu.valign nav ul.nav-main {
		margin-top: 20px;
		margin-bottom: -9px;
	}

	body.sticky-menu-active #header.single-menu nav ul.nav-main > li > a, body.sticky-menu-active #header.single-menu nav ul.nav-main > li:hover > a, body.sticky-menu-active #header.single-menu.valign nav ul.nav-main > li > a, body.sticky-menu-active #header.single-menu.valign nav ul.nav-main > li:hover > a {
		border-top-color: transparent;
		padding-bottom: 21px;
		padding-top: 36px;
	}

	html.boxed #header.single-menu {
		padding: 4px 0 7px;
	}

	html.boxed body.sticky-menu-active #header.single-menu {
		padding: 15px 0 7px;
	}
}
/* Header Clean Top */
@media (min-width: 992px) {
	#header.clean-top .header-top {
		border-bottom: 1px solid #EDEDED;
		background-color: #F4F4F4;
		margin-top: -8px;
	}

	#header.clean-top .social-icons {
		margin: 11px 10px 9px 10px;
	}

	/* Header Clean Top - Sticky Menu / Boxed */
	body.sticky-menu-active #header.clean-top ul.nav-main > li > a, body.sticky-menu-active #header.clean-top ul.nav-main > li:hover > a {
		padding-bottom: 20px;
		padding-top: 33px;
	}
}
/* Header Colored */
@media (min-width: 992px) {
	#header.colored {
		border-top: 0;
	}

	#header.colored > .container {
		height: 107px;
		margin-bottom: -92px;
	}

	#header.colored .header-top p, #header.colored .header-top a, #header.colored .header-top span {
		color: #FFF;
	}

	#header.colored .search input.search-query {
		border: 0;
		padding-bottom: 5px;
		padding-top: 5px;
		box-shadow: none;
	}

	#header.colored nav ul.nav-main {
		margin: -15px 0 -8px;
	}

	#header.colored nav ul.nav-main li a {
		padding-bottom: 24px;
		padding-top: 50px;
	}

	#header.colored nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 24px;
	}

	/* Header Colored - Sticky Menu / Boxed */
	body.sticky-menu-active #header.colored .logo {
		padding-top: 6px;
	}

	body.sticky-menu-active #header.colored ul.nav-main > li > a, body.sticky-menu-active #header.colored ul.nav-main > li:hover > a {
		padding-bottom: 24px;
		padding-top: 24px;
	}
}
/* Header Darken Top Border */
@media (min-width: 992px) {
	#header.darken-top-border > .container {
		height: 103px;
	}

	#header.darken-top-border ul.nav-main {
		margin: -11px 0 -8px;
	}

	/* Header Darken Top Border - Sticky Menu / Boxed */
	body.sticky-menu-active #header.darken-top-border nav ul.nav-main {
		margin-top: 33px;
	}

	body.sticky-menu-active #header.darken-top-border nav ul.nav-main > li > a, body.sticky-menu-active #header.darken-top-border nav ul.nav-main > li:hover > a {
		padding-bottom: 22px;
		padding-top: 30px;
	}

	html.boxed #header.darken-top-border {
		border-top: 0;
	}
}
/* Header Center */
@media (min-width: 992px) {
	#header.center .logo {
		text-align: center;
		position: static;
		margin-top: 5px;
	}

	#header.center nav {
		float: left;
		text-align: center;
		width: 100%;
	}

	#header.center nav ul.nav-main {
		margin: 35px 0 10px;
	}

	#header.center nav ul.nav-main > li {
		display: inline-block;
		float: none;
		text-align: left;
	}
}

@media (max-width: 991px) {
	#header.center {
		text-align: left;
	}

	#header.center nav {
		float: none;
	}
}
/* Header Center - Sticky Menu */
@media (min-width: 992px) {
	body.sticky-menu-active #header.center > .container {
		margin-top: -60px;
	}

	body.sticky-menu-active #header.center .logo {
		text-align: left;
	}

	body.sticky-menu-active #header.center .logo img {
		margin-top: 42px;
	}

	body.sticky-menu-active #header.center nav {
		float: right;
		margin-top: 18px;
		width: auto;
	}

	body.sticky-menu-active #header.center nav ul.nav-main > li > a, body.sticky-menu-active #header.center nav ul.nav-main > li:hover > a {
		padding-bottom: 10px;
		padding-top: 10px;
	}
}
/* Header Narrow */
@media (min-width: 992px) {
	#header.narrow {
		height: auto;
		min-height: 85px;
		padding: 0;
		border-bottom: 1px solid #E9E9E9;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	}

	#header.narrow > .container {
		margin-bottom: -48px;
		height: 75px;
	}

	body.sticky-menu-active #header.narrow {
		top: 0;
	}

	body.sticky-menu-active #header.narrow .logo img {
		top: 0 !important;
	}

	body.sticky-menu-active #header.narrow .social-icons {
		margin-top: -3px;
	}

	body.sticky-menu-active #header.narrow nav ul.nav-main {
		margin: -7px 10px 8px 0;
	}

	#header.narrow.full-width .container,
	#header.narrow.full-width > .container,
	#header.narrow.full-width > .navbar-collapse > .container {
		max-width: 100%;
		width: 100%;
	}

	#header.narrow.full-width.flat-menu .social-icons {
		margin-top: -3px;
	}

	#header.narrow.full-width.flat-menu nav ul.nav-main {
		margin-top: -48px;
	}

	#header.narrow.full-width.flat-menu nav ul.nav-main > li > a {
		padding-bottom: 30px;
	}

	#header.narrow.full-width.flat-menu nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 31px;
	}

	body.sticky-menu-active #header.narrow.full-width.flat-menu .logo {
		padding-top: 5px;
	}

	body.sticky-menu-active #header.narrow.full-width.flat-menu nav ul.nav-main {
		margin: -28px 0 -1px 0;
	}

	html.boxed body.sticky-menu-active #header.narrow {
		width: 100%;
	}
}

@media (max-width: 991px) {
	#header.narrow {
		height: auto;
		min-height: 0;
	}

	#header.narrow > .container {
		height: 63px;
	}

	#header.narrow .btn-responsive-nav {
		top: 17px;
	}

	body.sticky-menu-active #header.narrow .logo img {
		margin-top: 0;
	}

	body.sticky-menu-active #header.narrow .btn-responsive-nav {
		top: 15px;
	}
}
/* Header Transparent */
#header.transparent {
	width: 100%;
	position: absolute;
	top: 0;
	border-top: 0;
	background: transparent;
	z-index: 1000;
}

#header.transparent.semi-transparent {
	background: rgba(0, 0, 0, 0.3);
}

#header.transparent.semi-transparent.light {
	background: rgba(255, 255, 255, 0.3);
}

body.sticky-menu-active #header.transparent {
	background: #fff;
}

body.sticky-menu-active #header.transparent.semi-transparent {
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 0;
}

body.sticky-menu-active #header.transparent.semi-transparent.light {
	background: rgba(255, 255, 255, 0.8);
}

body.sticky-menu-active #header.transparent.semi-transparent.font-color-light nav.nav-main ul.nav-main > li.active > a,
body.sticky-menu-active #header.transparent.semi-transparent.font-color-light nav.nav-main ul.nav-main > li > a {
	color: #FFF;
}

@media (min-width: 992px) {
	html.boxed #header.transparent {
		left: auto;
		top: 35px;
		width: auto;
	}

	body.sticky-menu-active #header.transparent {
		top: -50px;
	}
}
/* Header Full-Width */
@media (min-width: 992px) {
	#header.full-width .container,
	#header.full-width > .container,
	#header.full-width > .navbar-collapse > .container {
		max-width: 100%;
		width: 100%;
	}
}
/* Mega Menu (Signin/SignUp) */
#header nav.mega-menu ul.nav-main .mega-menu-signin {
	padding-left: 0;
	margin-left: 0;
	margin-right: -20px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin a {
	color: #444;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.open > a, #header nav.mega-menu ul.nav-main .mega-menu-signin:hover > a {
	color: #FFF;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin .dropdown-menu {
	width: 40%;
	right: 8px;
	border-radius: 6px 0 6px 6px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin .fa-user {
	margin-right: 5px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin .mega-menu-sub-title {
	margin-bottom: 10px;
	display: block;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin .sign-up-info, #header nav.mega-menu ul.nav-main .mega-menu-signin .log-in-info {
	text-align: center;
	display: block;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.open a.dropdown-toggle {
	margin-bottom: -1px;
	padding-bottom: 11px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.signin .signin-form {
	display: block;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.signin .signup-form, #header nav.mega-menu ul.nav-main .mega-menu-signin.signin .recover-form {
	display: none;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.signup .signin-form {
	display: none;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.signup .signup-form {
	display: block;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.signup .recover-form {
	display: none;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.recover .signin-form, #header nav.mega-menu ul.nav-main .mega-menu-signin.recover .signup-form {
	display: none;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.recover .recover-form {
	display: block;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar .img-thumbnail {
	float: left;
	margin-right: 15px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar .img-thumbnail img {
	max-width: 55px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar strong {
	color: #111;
	display: block;
	padding-top: 7px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar span {
	color: #666;
	display: block;
	font-size: 12px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar p {
	color: #999;
	margin: 0 0 0 25px;
	text-align: left;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .list-account-options {
	list-style: square;
	margin-top: 6px;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .list-account-options a:hover {
	text-decoration: none;
}

body #header nav.mega-menu .mega-menu-signin ul.dropdown-menu li a, body #header nav.mega-menu .mega-menu-signin ul.dropdown-menu:hover li:hover li:hover a {
	background-color: transparent !important;
	color: #333;
	padding: 0;
	margin: 0;
}

/* Responsive */
@media (max-width: 991px) {
	#header nav.mega-menu ul.nav-main .mega-menu-signin {
		margin-right: 0;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin a {
		color: #FFF;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin a .fa-caret-down {
		display: none !important;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin ul.dropdown-menu {
		display: block !important;
		margin: 25px 0 0 0 !important;
		padding: 0 0 0 8px;
		width: 100%;
		right: 0;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin ul.dropdown-menu li a {
		color: #FFF;
		padding: 6px 0 !important;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar strong, #header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar span {
		color: #FFF !important;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .list-account-options {
		margin: 25px 0 0 0 !important;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .list-account-options a {
		color: #FFF !important;
	}

	#header nav.mega-menu ul.nav-main .mega-menu-signin.logged .list-account-options a:hover {
		color: #FFF !important;
	}
}
/* Responsive */
@media (max-width: 991px) {
	/* Header */
	#header {
		clear: both;
	}

	#header > .container {
		margin-bottom: 0;
	}

	#header .header-top, #header .social-icons, #header .search {
		display: none;
	}

	#header .nav-collapse {
		background: #171717;
		width: 100%;
		clear: both;
		width: 100%;
	}

	#header .nav-collapse .container .nav-main {
		float: left;
		width: 100%;
	}

	#header .nav-main-collapse {
		top: 8px;
		position: relative;
		background: #171717;
		max-height: none;
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#header .nav-main-collapse.collapse {
		display: none !important;
	}

	#header .nav-main-collapse.in {
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
		display: block !important;
	}

	#header .nav-main {
		padding: 10px 0;
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}

	#header .nav-main ul {
		padding: 0;
		margin: 0;
	}

	#header .nav-main ul li {
		padding: 0;
		margin: 0;
		clear: both;
		float: none;
		display: block;
		border-bottom: 1px solid #2A2A2A;
		position: relative;
	}

	#header .nav-main ul li a {
		color: #FFF;
		font-size: 13px;
	}

	#header .nav-main ul li .mega-menu-sub-title {
		color: #959595;
		font-size: 13px;
	}

	#header .nav-main ul li:last-child {
		border-bottom: none;
	}

	#header .nav-main ul ul {
		margin-left: 20px !important;
	}

	#header .nav-main ul.nav-main {
		float: none;
		position: static;
		margin: 8px 0;
		margin-right: -10px;
	}

	#header .nav-main ul.dropdown-menu {
		position: static;
		clear: both;
		float: none;
		display: none !important;
		border: 0;
	}

	#header .nav-main li.opened > ul.dropdown-menu {
		display: block !important;
	}

	#header .nav-main li a.dropdown-toggle.disabled .fa {
		display: none;
	}

	#header nav ul.nav-main > li + li {
		margin-left: 0;
	}

	#header nav ul.nav-main li a {
		clear: both;
		float: none;
		display: block;
		padding: 9px 8px !important;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	#header nav ul.nav-main li a i.fa-caret-down {
		position: absolute;
		right: 0;
		top: 2px;
		min-width: 30px;
		min-height: 38px;
		text-align: center;
		line-height: 35px;
	}

	#header nav ul.nav-main li.dropdown:hover > a {
		margin: 0;
		padding: 9px 8px !important;
	}

	#header nav ul.nav-main ul.dropdown-menu {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-bottom: 15px;
	}

	#header nav ul.nav-main ul.dropdown-menu li > a {
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
		border-bottom: none;
	}

	#header nav ul.nav-main ul.sub-menu {
		padding: 0;
		margin: 0 0 15px 5px !important;
	}

	#header nav ul.nav-main .dropdown-submenu i.fa-caret-down {
		border: 0 none;
		color: #fff;
		content: "\f0d7";
		font-family: FontAwesome;
		font-size: 13px;
		left: auto;
		margin-top: 0;
		position: absolute;
		right: -3px;
		top: 0;
		z-index: 2;
		width: 35px;
		text-align: center;
		line-height: 35px;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: transparent;
	}

	#header .not-included {
		margin: 0px 0 2px;
	}

	body #header nav ul.nav-main ul.dropdown-menu {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main li.dropdown.open .dropdown-toggle, body #header nav ul.nav-main li a, body #header nav ul.nav-main li > a:hover, body #header nav ul.nav-main li.active a, body #header nav ul.nav-main li.dropdown:hover a {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main ul.dropdown-menu li:hover > a, body #header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
		background: none !important;
		background-color: transparent !important;
	}

	body.sticky-menu-active #header .nav-main-collapse,
	#header.fixed .nav-main-collapse {
		max-height: 330px;
	}

	body.sticky-menu-active #header .nav-main-collapse.in,
	#header.fixed .nav-main-collapse.in {
		overflow: hidden !important;
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}

	body.sticky-menu-active #header .logo img,
	#header.fixed .logo img {
		margin-top: -6px;
	}

	/* Responsive Button Nav */
	.btn-responsive-nav {
		background: #171717;
		top: 55px;
		display: block;
		position: absolute;
		right: 20px;
		color: #FFF;
		z-index: 1;
	}

	.btn-responsive-nav:hover, .btn-responsive-nav:active, .btn-responsive-nav:focus {
		color: #CCC;
		outline: none;
	}

	/* Logo */
	#header .logo img {
		max-width: 180px;
		max-height: none !important;
		height: auto !important;
	}

	/* Nav Top */
	#header .header-top ul.nav-top {
		float: left;
		margin: 7px 0 0 -15px;
		min-height: 5px;
	}
}

@media (max-width: 767px) {
	/* Header */
	#header {
		display: block;
	}

	#header > .container {
		width: 100%;
	}

	#header .social-icons {
		display: none;
	}

	#header nav ul.nav-top {
		float: right;
		margin-right: 0;
	}

	#header.center nav {
		width: auto;
	}

	/* Responsive Button Nav */
	.btn-responsive-nav {
		top: 55px;
	}

	body.sticky-menu-active .btn-responsive-nav {
		top: 60px;
	}
}

@media (max-width: 479px) {
	#header nav ul.nav-top, #header .header-top {
		display: none;
	}
}

@media (max-width: 600px) {
	/* Header */
	#header nav ul.nav-top li {
		display: none;
	}

	#header nav ul.nav-top li .phone {
		display: block;
	}
}

@media (min-width: 992px) {
	html #header nav ul.nav-main .dropdown-full-color > ul.dropdown-menu li a, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item > ul.dropdown-menu li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	}

	html #header nav ul.nav-main .dropdown-full-color > ul.dropdown-menu li:last-child a, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item > ul.dropdown-menu li:last-child a {
		border-bottom: 0;
	}

	html #header nav ul.nav-main .dropdown-full-color .dropdown-submenu > a:after,
	html #header nav ul.nav-main .dropdown-full-color .dropdown-submenu:hover > a:after, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item .dropdown-submenu > a:after,
	html #header nav ul.nav-main .dropdown-full-color.mega-menu-item .dropdown-submenu:hover > a:after {
		border-right-color: #FFF;
		border-left-color: #FFF;
	}

	html #header nav ul.nav-main .dropdown-full-color .mega-menu-sub-title, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item .mega-menu-sub-title {
		color: #FFF;
		opacity: 0.65;
	}

	html #header nav ul.nav-main .dropdown-full-color .tip, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item .tip {
		background: #FFF;
		color: #333;
	}

	html #header nav ul.nav-main .dropdown-full-color .tip:before, html #header nav ul.nav-main .dropdown-full-color.mega-menu-item .tip:before {
		border-right-color: #FFF;
	}
}

body.sticky-menu-active.modal-open #header {
	padding-right: 17px;
}

/* Page Header */
.page-header {
	background-color: #171717;
	border-bottom: 5px solid #CCC;
	border-top: 5px solid #384045;
	margin: 0 0 35px 0;
	min-height: 50px;
	padding: 20px 0;
	position: relative;
	text-align: left;
}

.page-header .breadcrumb {
	background: none;
	margin: -3px 0 0;
	padding: 0;
}

.page-header .breadcrumb > li {
	text-shadow: none;
}

.page-header .breadcrumb.breadcrumb-valign-mid {
	position: absolute;
	top: 40%;
	right: 20px;
}

.page-header h1 {
	border-bottom: 5px solid #CCC;
	color: #FFF;
	display: inline-block;
	font-weight: 200;
	margin: 0 0 -25px;
	min-height: 37px;
	font-size: 2.6em;
	line-height: 46px;
	padding: 0 0 17px;
	position: relative;
}

.page-header h1 span {
	color: #999da3;
	display: block;
	font-size: 0.6em;
	font-weight: 300;
	margin: -10px 0 0;
}

.page-header-no-title-border h1 {
	border: 0;
}

/* Page Header - More Padding */
.page-header-more-padding {
	padding: 35px 0;
}

/* Page Header - Color */
.page-header-color {
	background-color: #F7F7F7;
	border-bottom: 5px solid #F4F4F4;
	border-top: none;
}

.page-header-color h1 {
	border-bottom: none;
	color: #1d2127;
	font-size: 2.3em;
}

.page-header-color h1 span {
	opacity: 0.65;
}

.page-header-color .breadcrumb > .active {
	opacity: 0.65;
}

/* Page Header - Light */
.page-header-light {
	background-color: #F7F7F7;
	border-bottom: 5px solid #F4F4F4;
	border-top: none;
}

.page-header-light h1 {
	border-bottom: none;
	color: #1d2127;
	font-size: 2.3em;
}

/* Page Header - Reverse */
.page-header-reverse {
	text-align: right;
}

.page-header-reverse .breadcrumb, .page-header-reverse .breadcrumb.breadcrumb-valign-mid {
	float: left;
	left: 20px;
	right: auto;
	margin-top: -10px;
}

/* Page Header - Parallax */
.page-header.parallax {
	margin: 0 0 35px;
	padding: 180px 0 60px;
}

.page-header-center {
	text-align: center;
}

.page-header-center .breadcrumb {
	margin: 15px 0 0;
}

/* Page Header Custom Background */
.page-header-custom-background {
	padding: 45px 0;
	background-repeat: repeat;
	background-color: transparent;
	border-top: 0;
	border-bottom: 0;
}

.page-header-custom-background h1 {
	color: #FFF;
	border: 0;
}

.page-header-custom-background h1 span {
	color: #FFF;
	opacity: 0.7;
}

.page-header-custom-background .breadcrumb.breadcrumb-valign-mid {
	top: 36%;
}

.page-header-custom-background .breadcrumb.breadcrumb-valign-mid li.active {
	color: #FFF;
	opacity: 0.7;
}

.page-header-custom-background .breadcrumb.breadcrumb-valign-mid a {
	color: #FFF;
}

/* Page Header Custom - Create your Own */
.page-header.custom-product {
	background-image: url(../img/custom-header-bg.jpg);
	background-repeat: repeat;
	background-color: #999;
	border-top: 5px solid #888;
	overflow: hidden;
}

.page-header.custom-product .row {
	position: relative;
}

.page-header.custom-product p.lead {
	color: #E8E8E8;
}

.page-header.custom-product img {
	bottom: -47px;
	position: relative;
}

.page-header.custom-product h1 {
	color: #FFF;
	margin-bottom: 10px;
	margin-top: 30px;
	border: 0;
}

/* Responsive */
@media (max-width: 991px) {
	.page-header .breadcrumb {
		margin: 20px 0 0;
		float: none !important;
		position: static !important;
	}
}

@media (max-width: 479px) {
	.page-header {
		padding: 16px 0;
	}

	.page-header h1 {
		line-height: 37px;
	}
}

.text-muted {
	color: #999999 !important;
}

html.dark .text-muted {
	color: #505461 !important;
}

.text-dark {
	color: #1d2127 !important;
}

.text-light {
	color: #FFF !important;
}

.text-weight-light {
	font-weight: 300;
}

.text-weight-normal {
	font-weight: 400;
}

.text-weight-semibold {
	font-weight: 600;
}

.text-weight-bold {
	font-weight: 700;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.rounded {
	border-radius: 5px;
}

.b-thin {
	border-width: 3px;
}

.b-normal {
	border-width: 5px;
}

.b-thick {
	border-width: 7px;
}

/* Spacements */
/* spacement top & bottom */
.m-none {
	margin: 0 !important;
}

.m-auto {
	margin: 0 auto !important;
}

.m-xs {
	margin: 5px !important;
}

.m-sm {
	margin: 10px !important;
}

.m-md {
	margin: 15px !important;
}

.m-lg {
	margin: 20px !important;
}

.m-xl {
	margin: 25px !important;
}

.m-xlg {
	margin: 30px !important;
}

/* spacement top	*/
.mt-none {
	margin-top: 0 !important;
}

.mt-xs {
	margin-top: 5px !important;
}

.mt-sm {
	margin-top: 10px !important;
}

.mt-md {
	margin-top: 15px !important;
}

.mt-lg {
	margin-top: 20px !important;
}

.mt-xl {
	margin-top: 25px !important;
}

.mt-xlg {
	margin-top: 30px !important;
}

/* spacement bottom	*/
.mb-none {
	margin-bottom: 0 !important;
}

.mb-xs {
	margin-bottom: 5px !important;
}

.mb-sm {
	margin-bottom: 10px !important;
}

.mb-md {
	margin-bottom: 15px !important;
}

.mb-lg {
	margin-bottom: 20px !important;
}

.mb-xl {
	margin-bottom: 25px !important;
}

.mb-xlg {
	margin-bottom: 30px !important;
}

/* spacement left	*/
.mr-none {
	margin-left: 0 !important;
}

.ml-xs {
	margin-left: 5px !important;
}

.ml-sm {
	margin-left: 10px !important;
}

.ml-md {
	margin-left: 15px !important;
}

.ml-lg {
	margin-left: 20px !important;
}

.ml-xl {
	margin-left: 25px !important;
}

.ml-xlg {
	margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
	margin-right: 0 !important;
}

.mr-xs {
	margin-right: 5px !important;
}

.mr-sm {
	margin-right: 10px !important;
}

.mr-md {
	margin-right: 15px !important;
}

.mr-lg {
	margin-right: 20px !important;
}

.mr-xl {
	margin-right: 25px !important;
}

.mr-xlg {
	margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
	padding: 0 !important;
}

.p-xs {
	padding: 5px !important;
}

.p-sm {
	padding: 10px !important;
}

.p-md {
	padding: 15px !important;
}

.p-lg {
	padding: 20px !important;
}

.p-xl {
	padding: 25px !important;
}

.p-xlg {
	padding: 30px !important;
}

/* spacement top	*/
.pt-none {
	padding-top: 0 !important;
}

.pt-xs {
	padding-top: 5px !important;
}

.pt-sm {
	padding-top: 10px !important;
}

.pt-md {
	padding-top: 15px !important;
}

.pt-lg {
	padding-top: 20px !important;
}

.pt-xl {
	padding-top: 25px !important;
}

.pt-xlg {
	padding-top: 30px !important;
}

/* spacement bottom	*/
.pb-none {
	padding-bottom: 0 !important;
}

.pb-xs {
	padding-bottom: 5px !important;
}

.pb-sm {
	padding-bottom: 10px !important;
}

.pb-md {
	padding-bottom: 15px !important;
}

.pb-lg {
	padding-bottom: 20px !important;
}

.pb-xl {
	padding-bottom: 25px !important;
}

.pb-xlg {
	padding-bottom: 30px !important;
}

/* spacement left	*/
.pr-none {
	padding-left: 0 !important;
}

.pl-xs {
	padding-left: 5px !important;
}

.pl-sm {
	padding-left: 10px !important;
}

.pl-md {
	padding-left: 15px !important;
}

.pl-lg {
	padding-left: 20px !important;
}

.pl-xl {
	padding-left: 25px !important;
}

.pl-xlg {
	padding-left: 30px !important;
}

/* spacement right	*/
.pr-none {
	padding-right: 0 !important;
}

.pr-xs {
	padding-right: 5px !important;
}

.pr-sm {
	padding-right: 10px !important;
}

.pr-md {
	padding-right: 15px !important;
}

.pr-lg {
	padding-right: 20px !important;
}

.pr-xl {
	padding-right: 25px !important;
}

.pr-xlg {
	padding-right: 30px !important;
}

.ib {
	display: inline-block;
	vertical-align: top;
}

.va-middle {
	vertical-align: middle;
}

.ws-nowrap {
	white-space: nowrap;
}

.ws-normal {
	white-space: normal;
}

/* Parallax */
.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 70px 0;
	padding: 50px 0;
	position: relative;
	clear: both;
}

.parallax blockquote {
	border: 0;
	padding: 0 10%;
}

.parallax blockquote i.fa-quote-left {
	font-size: 34px;
	position: relative;
	left: -5px;
}

.parallax blockquote p {
	font-size: 24px;
	line-height: 30px;
}

.parallax blockquote span {
	font-size: 16px;
	line-height: 20px;
	color: #999;
	position: relative;
	left: -5px;
}

.parallax.parallax-ready {
	background-attachment: fixed;
}

.parallax.parallax-disabled {
	background-attachment: scroll !important;
	background-position: 50% 50% !important;
}

/* Responsive */
@media (max-width: 991px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}
}
/* Section Featured */
section.section {
	background: #f4f4f4;
	border-top: 5px solid #f1f1f1;
	margin: 30px 0;
	padding: 50px 0;
}

section.section.section-center {
	text-align: center;
}

section.section.section-text-light h1, section.section.section-text-light h2, section.section.section-text-light h3, section.section.section-text-light h4, section.section.section-text-light h5, section.section.section-text-light h6 {
	color: #FFF;
}

section.section.section-text-light p {
	color: #e6e6e6;
}

section.section.section-background {
	background-repeat: repeat;
	border: 0;
}

section.section.section-overlay {
	position: relative;
}

section.section.section-overlay:before {
	content: "";
	display: block;
	background: url("../img/video-overlay.png") repeat scroll 0 0 transparent;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

section.section.section-video {
	background: none !important;
	border: 0;
}

section.section.section-parallax {
	border: 0;
}

section.section.section-with-divider {
	margin: 56px 0 35px;
}

section.section.section-with-divider .divider {
	margin: -56px 0 44px;
}

section.section.section-footer {
	margin-bottom: -50px;
}

/* Responsive */
@media (max-width: 991px) {
	.container-fluid > .row > .p-none section.section {
		margin-bottom: 0;
		margin-top: 0;
	}

	.container-fluid > .row > .p-none:first-child section.section {
		margin-bottom: 0;
		margin-top: 30px;
	}

	.container-fluid > .row > .p-none:last-child section.section {
		margin-bottom: 30px;
		margin-top: 0;
	}
}
/* Sidebar */
aside ul.nav-list > li > a {
	color: #666;
	font-size: 0.9em;
}

/* Home Slider - Revolution Slider */
.slider-container {
	background: #171717;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}

.slider-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-container .tp-bannershadow {
	filter: alpha(opacity=20);
	opacity: 0.20;
}

.slider-container .top-label {
	color: #FFF;
	font-size: 24px;
	font-weight: 300;
}

.slider-container .main-label {
	color: #FFF;
	font-size: 62px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.slider-container .featured-label {
	color: #FFF;
	font-size: 52px;
	line-height: 52px;
	font-weight: 800;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.slider-container .bottom-label {
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
}

.slider-container .blackboard-text {
	color: #BAB9BE;
	font-size: 46px;
	line-height: 46px;
	font-family: "Shadows Into Light", cursive;
	text-transform: uppercase;
}

.slider-container .tp-caption {
	opacity: 0;
}

.slider-container .tp-caption a {
	color: #FFF;
}

.slider-container .tp-caption a:hover {
	color: #FFF;
}

.slider-container .tp-caption.fullscreenvideo {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0 !important;
}

.slider-container .tp-caption.fullscreenvideo video {
	height: 100%;
	width: 100%;
	padding: 0;
	position: relative;
}

.slider-container.light {
	background-color: #EAEAEA;
}

.slider-container.light .tp-bannershadow {
	filter: alpha(opacity=5);
	opacity: 0.05;
	top: 0;
	bottom: auto;
	z-index: 1000;
}

.slider-container.light .top-label, .slider-container.light .main-label, .slider-container.light .bottom-label {
	color: #333;
}

.slider-container.light .tp-caption a {
	color: #333;
}

.slider-container.light .tp-caption a:hover {
	color: #333;
}

/* Responsive */
@media (max-width: 991px) {
	.slider-container {
		min-height: 0;
	}
}

.slider {
	height: 495px;
	max-height: 495px;
	position: relative;
}

.slider > ul > li > img {
	visibility: hidden;
}

.slider > ul > li > .center-caption {
	left: 0 !important;
	margin-left: 0 !important;
	text-align: center;
	width: 100%;
}

.slider .tp-bannertimer {
	display: none;
}

.slider .main-button {
	font-size: 22px;
	font-weight: 600;
	line-height: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

.slider-container-fullscreen {
	height: 2000px;
	max-height: none;
}

.slider-container-fullscreen .slider {
	max-height: none;
}

/* Home Slider - Nivo Slider */
.nivo-slider {
	position: relative;
}

.nivo-slider .theme-default .nivoSlider {
	border-radius: 10px 10px 0px 0px;
	box-shadow: none;
	margin-top: 10px;
}

.nivo-slider .theme-default .nivoSlider img {
	border-radius: 10px 10px 0px 0px;
}

.nivo-slider .theme-default .nivo-controlNav {
	margin-top: -72px;
	position: absolute;
	z-index: 100;
	right: 5px;
	bottom: -17px;
}

.nivo-slider .theme-default .nivo-caption {
	padding-left: 20px;
}

/* Slider With Overlay */
.slider-with-overlay {
	position: relative;
}

.slider-with-overlay .slider-container {
	z-index: auto;
}

/* Slider Contact Form */
.slider-contact-form {
	margin: -45px 0 25px;
}

.slider-contact-form .featured-box {
	text-align: left;
}

.slider-contact-form label.error {
	display: none !important;
}

.slider-contact-form .alert {
	padding: 6px;
	text-align: center;
}

.slider-contact-form textarea {
	resize: none;
}

/* Responsive */
@media (min-width: 992px) {
	.slider-contact-form {
		margin: 0;
		position: absolute;
		top: 20px;
		z-index: 99;
		width: 100%;
	}
}
/* Custom Map */
section.section-custom-map {
	background: transparent url(../img/map.png) center 0 no-repeat;
	padding: 129px 0 0;
	margin: 20px 0 0;
	border: 0;
}

section.section-custom-map section.section {
	border-top-color: rgba(241, 241, 241, 0.8);
	background: rgba(244, 244, 244, 0.8);
}

/* Home Intro */
.home-intro {
	background-color: #171717;
	margin-bottom: 60px;
	overflow: hidden;
	padding: 20px 0 10px 0;
	position: relative;
	text-align: left;
}

.home-intro p {
	color: #FFF;
	display: inline-block;
	font-size: 1.4em;
	font-weight: 300;
	max-width: 800px;
	padding-top: 5px;
}

.home-intro p span {
	color: #999;
	display: block;
	font-size: 0.8em;
	padding-top: 5px;
}

.home-intro p em {
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
}

.home-intro .get-started {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	text-align: right;
}

.home-intro .get-started .btn {
	position: relative;
	z-index: 1;
}

.home-intro .get-started .btn i {
	font-size: 1.1em;
	font-weight: normal;
	margin-left: 5px;
}

.home-intro .get-started a {
	color: #FFF;
}

.home-intro .get-started a:not(.btn) {
	color: #777777;
}

.home-intro .learn-more {
	margin-left: 15px;
}

.home-intro.light {
	background-color: #E2E2E2;
}

.home-intro.light.secondary {
	background-color: #E0E1E4;
}

.home-intro.light p {
	color: #777777;
}

/* Home Intro Compact */
.home-intro-compact {
	border-radius: 0 0 10px 10px;
	margin-top: -10px;
}

.home-intro-compact p {
	padding-left: 20px;
}

.home-intro-compact .get-started {
	padding-right: 20px;
}

/* Responsive */
@media (max-width: 767px) {
	/* Home Intro */
	.home-intro-compact {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
/* Home Concept */
.home-concept {
	background: transparent url(../img/home-concept.png) no-repeat center 0;
	width: 100%;
	overflow: hidden;
}

.home-concept strong {
	display: block;
	font-family: "Shadows Into Light", cursive;
	font-size: 2.1em;
	font-weight: normal;
	position: relative;
	margin-top: 30px;
}

.home-concept .row {
	position: relative;
}

.home-concept .process-image {
	background: transparent url(../img/home-concept-item.png) no-repeat 0 0;
	width: 160px;
	height: 175px;
	margin: 135px auto 0 auto;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}

.home-concept .process-image img {
	border-radius: 150px;
	margin: 7px 8px;
}

.home-concept .our-work {
	margin-top: 52px;
	font-size: 2.6em;
}

.home-concept .project-image {
	background: transparent url(../img/home-concept-item.png) no-repeat 100% 0;
	width: 350px;
	height: 420px;
	margin: 15px 0 0 -30px;
	padding-bottom: 45px;
	position: relative;
	z-index: 1;
}

.home-concept .sun {
	background: transparent url(../img/home-concept-icons.png) no-repeat 0 0;
	width: 60px;
	height: 56px;
	display: block;
	position: absolute;
	left: 10%;
	top: 35px;
}

.home-concept .cloud {
	background: transparent url(../img/home-concept-icons.png) no-repeat 100% 0;
	width: 116px;
	height: 56px;
	display: block;
	position: absolute;
	left: 57%;
	top: 35px;
}

/* Responsive */
@media (max-width: 991px) {
	.home-concept {
		background: none;
	}

	.home-concept .project-image {
		margin: 60px auto 0 auto;
	}

	.home-concept .process-image {
		margin-top: 60px;
	}
}

@media (max-width: 479px) {
	.home-concept .project-image {
		background-position: 0 0;
		margin-left: auto;
		max-width: 160px;
		max-height: 220px;
	}

	.home-concept .fc-slideshow {
		max-height: 145px;
		max-width: 145px;
	}

	.home-concept .fc-slideshow img {
		max-height: 145px;
		max-width: 145px;
	}
}
/* Page 404 */
.page-not-found {
	margin: 50px 0;
}

.page-not-found h2 {
	font-size: 140px;
	font-weight: 600;
	letter-spacing: -10px;
	line-height: 140px;
}

.page-not-found h4 {
	color: #777777;
}

.page-not-found p {
	font-size: 1.4em;
	line-height: 36px;
}

/* Responsive */
@media (max-width: 479px) {
	.page-not-found {
		margin: 0;
	}

	.page-not-found h2 {
		font-size: 100px;
		letter-spacing: 0;
		line-height: 100px;
	}
}
/* #Footer */
#footer {
	background: #0e0e0e;
	border-top: 4px solid #0e0e0e;
	font-size: 0.9em;
	margin-top: 50px;
	padding: 70px 0 0;
	position: relative;
	clear: both;
}

#footer .container .row > div {
	margin-bottom: 25px;
}

#footer .container input:focus {
	box-shadow: none;
}

#footer a:hover {
	color: #CCC;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
	color: #FFF !important;
}

#footer h4 {
	font-size: 1.8em;
	font-weight: 200;
}

#footer h5 {
	color: #CCC !important;
}

#footer ul.nav-list > li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	line-height: 20px;
	padding-bottom: 11px;
}

#footer ul.nav-list > li:last-child a {
	border-bottom: 0;
}

#footer ul.nav-list > li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

#footer ul.list.icons li {
	margin-bottom: 5px;
}

#footer form {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

#footer form label.error {
	line-height: 16px;
	margin: 5px 0 -5px;
	display: block;
	clear: both;
}

#footer form .alert {
	padding: 6px;
	text-align: center;
}

#footer .footer-ribbon {
	background: #999;
	position: absolute;
	margin: -90px 0 0 14px;
	padding: 10px 20px 6px 20px;
}

#footer .footer-ribbon:before {
	border-right: 10px solid #646464;
	border-top: 16px solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -10px;
	position: absolute;
	top: 0;
	width: 7px;
}

#footer .footer-ribbon span {
	color: #FFF;
	font-size: 1.6em;
	font-family: "Shadows Into Light", cursive;
}

#footer .newsletter form {
	width: 100%;
	max-width: 262px;
}

#footer .newsletter form input.form-control {
	height: 34px;
	padding: 6px 12px;
}

#footer .alert a {
	color: #222 !important;
}

#footer .alert a:hover {
	color: #666 !important;
}

#footer .twitter .fa {
	clear: both;
	font-size: 1.5em;
	position: relative;
	top: 3px;
}

#footer .twitter .meta {
	color: #999;
	display: block;
	font-size: 0.9em;
	padding-top: 3px;
}

#footer .twitter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .twitter ul li {
	padding-bottom: 20px;
}

#footer .twitter ul li:last-child {
	padding-bottom: 0;
}

#footer .twitter-account {
	color: #FFF;
	display: block;
	font-size: 0.9em;
	margin: -15px 0 5px;
	filter: alpha(opacity=55);
	opacity: 0.55;
}

#footer .twitter-account:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

#footer .contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

#footer .contact i.fa-envelope {
	font-size: 1em;
	top: 0;
}

#footer .contact p {
	margin-bottom: 10px;
}

#footer .logo {
	display: block;
}

#footer .logo.mb-xl {
	margin-bottom: 12px;
}

#footer .footer-copyright {
	background: #060606;
	border-top: 4px solid #060606;
	margin-top: 40px;
	padding: 30px 0 10px;
}

#footer .footer-copyright nav {
	float: right;
}

#footer .footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer .footer-copyright p {
	color: #555;
	margin: 0;
	padding: 0;
}

#footer .phone {
	color: #FFF;
	font-size: 26px;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	margin-top: -5px;
}

#footer .narrow-phone {
	text-align: right;
	margin: -2px 0 0 0;
}

#footer .narrow-phone .phone {
	font-size: 16px;
	padding-bottom: 0;
	margin-top: -13px;
}

#footer .recent-work {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .recent-work li {
	float: left;
	width: 30%;
	margin: 10px 3% 0 0;
}

#footer .recent-work img {
	border: 0;
	width: 100%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

#footer .recent-work .img-thumbnail-hover-icon {
	border: 0;
}

#footer .recent-work .img-thumbnail-hover-icon:after {
	font-size: 22px;
	margin-left: -2px;
}

#footer .view-more-recent-work {
	padding: 12px;
}

#footer.short {
	padding-top: 50px;
}

#footer.short .footer-copyright {
	background: transparent;
	border: 0;
	padding-top: 0;
	margin-top: 0;
}

#footer.light {
	padding-top: 60px;
	background: #FFF;
	border-top: 1px solid #DDD;
}

#footer.light .footer-ribbon {
	margin-top: -76px;
	margin-left: 14px;
}

#footer.light .footer-copyright {
	margin-top: 15px;
	background: #FFF;
	border-top: 1px solid #DDD;
}

#footer.light .footer-copyright p {
	color: #777;
}

#footer.light .phone,
#footer.light .twitter-account {
	color: #777 !important;
}

#footer.light ul.nav-pills > li.active > a {
	color: #FFF !important;
}

#footer.narrow {
	padding-top: 30px;
}

#footer.narrow .footer-copyright {
	margin-top: 0;
}

#footer.narrow .nav > li > a {
	padding: 5px 12px;
}

#footer.color {
	color: #FFF;
}

#footer.color p {
	color: #FFF;
}

#footer.color .footer-copyright nav ul li {
	border-left-color: #FFF;
}

/* Responsive */
@media (max-width: 991px) {
	#footer .phone {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	/* Footer */
	#footer .phone {
		font-size: 20px;
	}
}
/* Dark Version */
html.dark body {
	background-color: #1d2127;
}

html.dark.boxed .body {
	background-color: #1d2127;
}

html.dark #header {
	background: #1d2127;
	border-top-color: #191c21;
	border-radius: 6px 6px 0 0;
}

html.dark #header .dropdown ul.dropdown-menu {
	background-color: #282d36;
}

html.dark #header .dropdown ul.dropdown-menu li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

html.dark #header .dropdown ul.dropdown-menu li:hover > a {
	background-color: #333a44;
}

html.dark #header nav ul.nav-top li a:hover {
	background-color: #282d36;
}

html.dark #header nav.mega-menu ul.nav-main li.mega-menu-item:not(.dropdown-full-color) .mega-menu-sub-title {
	color: #FFF;
}

html.dark #header nav.mega-menu ul.nav-main li.mega-menu-item:not(.dropdown-full-color) ul.dropdown-menu {
	background-color: #282d36 !important;
}

html.dark #header nav.mega-menu ul.nav-main li.mega-menu-item:not(.dropdown-full-color):hover ul.sub-menu li:hover a:hover {
	background-color: #333a44 !important;
}

html.dark #header nav.mega-menu ul.nav-main li.mega-menu-item:not(.dropdown-full-color) .form-control {
	background-color: #2e353e !important;
	border-color: #2e353e !important;
	color: #FFF !important;
}

html.dark #header nav.mega-menu ul.nav-main .mega-menu-signin a,
html.dark #header nav.mega-menu ul.nav-main .mega-menu-signin a:hover,
html.dark #header nav.mega-menu ul.nav-main .mega-menu-signin.logged .user-avatar strong {
	color: #FFF;
}

html.dark #header nav.mega-menu .mega-menu-signin ul.dropdown-menu:hover li:hover li:hover a {
	color: #d9d9d9;
}

html.dark #header .search input.search:focus {
	border-color: #282d36;
}

html.dark #header.clean-top .header-top {
	background: #21262d;
	border-bottom-color: #282d36;
}

html.dark #header.narrow {
	border-bottom-color: #21262d;
}

html.dark #header nav.mega-menu .mega-menu-shop .actions-continue {
	border-top-color: #21262d;
}

html.dark #header nav.mega-menu .mega-menu-shop .dropdown-menu li table tr td a {
	color: #FFF;
}

html.dark #header nav.mega-menu .mega-menu-shop a {
	color: #FFF;
}

html.dark body.sticky-menu-active #header {
	border-bottom-color: #282d36;
}

html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
	color: #FFF;
}

html.dark .alert h1, html.dark .alert h2, html.dark .alert h3, html.dark .alert h4, html.dark .alert h5, html.dark .alert h6 {
	color: #111;
}

html.dark blockquote {
	border-color: #282d36;
}

html.dark section.featured {
	background-color: #191c21;
	border-top-color: #2e353e;
}

html.dark section.featured.map {
	background-image: url(../img/map-bottom-dark.png);
}

html.dark section.section {
	background-color: #21262d;
	border-top-color: #282d36;
}

html.dark .tabs .nav-tabs li a,
html.dark .tabs .nav-tabs li a:focus {
	border-top-color: #282d36;
	border-left-color: #282d36;
	border-right-color: #282d36;
	background: #282d36;
}

html.dark .tabs .nav-tabs li a:hover {
	border-top-color: #808697;
}

html.dark .tabs .nav-tabs li.active a,
html.dark .tabs .nav-tabs li.active a:hover,
html.dark .tabs .nav-tabs li.active a:focus {
	border-top-color: #808697;
}

html.dark .tabs .nav-tabs.nav-justified {
	border-left-width: 0;
	border-right-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

html.dark .tabs .nav-tabs.nav-justified li a,
html.dark .tabs .nav-tabs.nav-justified li a:hover,
html.dark .tabs .nav-tabs.nav-justified li a:focus {
	border-bottom-color: #282d36;
}

html.dark .tabs.tabs-left .nav-tabs > li a, html.dark .tabs.tabs-right .nav-tabs > li a {
	background: #282d36;
	border-left-color: #282d36;
	border-right-color: #282d36;
}

html.dark .tabs.tabs-left .nav-tabs > li:last-child a, html.dark .tabs.tabs-right .nav-tabs > li:last-child a {
	border-bottom-color: #282d36;
}

html.dark .tabs .nav-tabs {
	border-color: #282d36;
}

html.dark .tabs .nav-tabs li.active a,
html.dark .tabs .nav-tabs li.active a:hover,
html.dark .tabs .nav-tabs li.active a:focus,
html.dark .tabs .nav-tabs.nav-justified li.active a,
html.dark .tabs .nav-tabs.nav-justified li.active a:hover,
html.dark .tabs .nav-tabs.nav-justified li.active a:focus {
	background: #2e353e;
	border-left-color: #2e353e;
	border-right-color: #2e353e;
}

html.dark .tabs .nav-tabs.nav-justified li.active a {
	border-bottom-color: #2e353e;
}

html.dark .tabs.tabs-vertical {
	border-top-color: #2e353e;
}

html.dark .tabs.tabs-bottom .nav-tabs li a,
html.dark .tabs.tabs-bottom .nav-tabs li a:focus {
	border-bottom-color: #282d36;
	border-top-color: #2e353e;
}

html.dark .tabs.tabs-bottom .nav-tabs li a:hover {
	border-bottom-color: #808697;
	border-top-color: #2e353e;
}

html.dark .tabs.tabs-bottom .nav-tabs li.active a,
html.dark .tabs.tabs-bottom .nav-tabs li.active a:hover,
html.dark .tabs.tabs-bottom .nav-tabs li.active a:focus {
	border-bottom-color: #808697;
	border-top-color: #2e353e;
}

html.dark .tabs .tab-content {
	background: #2e353e;
	border-color: #2e353e;
}

html.dark .tabs-primary.tabs-bottom .nav-tabs li a,
html.dark .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark .tabs-primary.tabs-bottom .nav-tabs li a:focus, html.dark .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a,
html.dark .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:focus {
	border-top-color: #2e353e !important;
}

html.dark .nav-tabs li.active a,
html.dark .nav-tabs li.active a:hover,
html.dark .nav-tabs li.active a:focus,
html.dark .nav-tabs li a {
	color: #808697;
}

html.dark .tab-content {
	background: #2e353e;
	border-color: #1d2127;
}

html.dark .tabs-simple .tab-content,
html.dark .tabs-simple .nav-tabs li a,
html.dark .tabs-simple .nav-tabs li.active a {
	background: transparent !important;
}

html.dark .call-to-action.call-to-action-default {
	background: #282d36;
}

html.dark .call-to-action.call-to-action-dark {
	background: #2e353e;
}

html.dark .call-to-action.with-borders {
	border-top-color: #2e353e;
	border-bottom-color: #2e353e;
	border-left-color: #282d36;
	border-right-color: #282d36;
}

html.dark .call-to-action.with-full-borders {
	border-color: #2e353e;
}

html.dark .call-to-action.featured {
	background-color: transparent;
	background: -webkit-linear-gradient(top, #282d36 1%, #2e353e 98%) repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #282d36 1%, #2e353e 98%) repeat scroll 0 0 transparent;
	border-bottom-color: #2e353e;
	border-left-color: #282d36;
	border-right-color: #282d36;
}

html.dark .call-to-action.call-to-action-in-footer:before {
	border-top-color: #1d2127;
}

html.dark .counters.with-borders .counter {
	border-top: 1px solid #2e353e;
	border-bottom: 1px solid #2e353e;
	border-left: 1px solid #282d36;
	border-right: 1px solid #282d36;
}

html.dark .counters.counters-text-dark .counter {
	color: #FFF !important;
}

html.dark .counters.counters-text-dark .counter .fa, html.dark .counters.counters-text-dark .counter strong, html.dark .counters.counters-text-dark .counter label {
	color: #FFF !important;
}

html.dark section.timeline:after {
	background: #505050;
	background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
	background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
	background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
	background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
	background: linear, to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%;
}

html.dark section.timeline .timeline-date {
	background-color: #282d36;
	border-color: #282d36;
	text-shadow: none;
}

html.dark section.timeline .timeline-title {
	background: #282d36;
}

html.dark section.timeline .timeline-box {
	border-color: #282d36;
	background: #282d36;
}

html.dark section.timeline .timeline-box.left:before {
	box-shadow: 0 0 0 3px #282d36, 0 0 0 6px #282d36;
}

html.dark section.timeline .timeline-box.left:after {
	background: #282d36;
	border-right-color: #282d36;
	border-top-color: #282d36;
}

html.dark section.timeline .timeline-box.right:before {
	box-shadow: 0 0 0 3px #282d36, 0 0 0 6px #282d36;
}

html.dark section.timeline .timeline-box.right:after {
	background: #282d36;
	border-left-color: #282d36;
	border-bottom-color: #282d36;
}

html.dark .form-control {
	background-color: #282d36;
	border-color: #282d36;
}

html.dark .btn-default {
	background-color: #282d36;
	border-color: #282d36;
	color: #FFF;
}

html.dark .btn.disabled,
html.dark .btn[disabled] {
	border-color: #282d36 !important;
}

html.dark .pagination > li > a,
html.dark .pagination > li > span {
	background-color: #282d36;
	border-color: #242830;
}

html.dark .theme-default .nivoSlider {
	background-color: #1d2127;
}

html.dark section.section-custom-map {
	background: transparent url(../img/map-dark.png) center 0 no-repeat;
}

html.dark section.section-custom-map section.section {
	border-top-color: rgba(40, 45, 54, 0.8);
	background: rgba(33, 38, 45, 0.8);
}

html.dark .home-concept {
	background-image: url(../img/home-concept-dark.png);
}

html.dark .home-concept .process-image {
	background-image: url(../img/home-concept-item-dark.png);
}

html.dark .home-concept .project-image {
	background-image: url(../img/home-concept-item-dark.png);
}

html.dark .home-concept .sun {
	background-image: url(../img/home-concept-icons-dark.png);
}

html.dark .home-concept .cloud {
	background-image: url(../img/home-concept-icons-dark.png);
}

html.dark .page-header {
	border-bottom-color: #191c21;
}

html.dark .page-header-light {
	background-color: #2e353e;
}

html.dark .panel-group .panel {
	background-color: #282d36;
}

html.dark .panel-group .panel-default {
	border-color: #282d36;
}

html.dark .panel-group .panel-heading {
	background-color: #2e353e;
}

html.dark .panel-group .form-control {
	background-color: #21262d;
	border-color: #21262d;
}

html.dark .toggle > label {
	background-color: #2e353e;
}

html.dark .toggle.toggle-simple .toggle > label {
	color: #FFF;
}

html.dark .featured-box {
	background: #2e353e;
	border-left-color: #2e353e;
	border-right-color: #2e353e;
	border-bottom-color: #2e353e;
}

html.dark .featured-box.secondary h4 {
	color: #FFF;
}

html.dark .featured-boxes-flat .featured-box .box-content {
	background: #2e353e;
}

html.dark .featured-boxes-style-5 .featured-box .box-content h4, html.dark .featured-boxes-style-6 .featured-box .box-content h4, html.dark .featured-boxes-style-7 .featured-box .box-content h4 {
	color: #FFF;
}

html.dark .featured-boxes-style-2 .featured-box {
	background: transparent;
}

html.dark .featured-boxes-style-3 .featured-box .icon-featured {
	background: #1d2127;
}

html.dark .featured-boxes-style-4 .featured-box {
	background: transparent;
}

html.dark .featured-boxes-style-5 .featured-box {
	background: transparent;
}

html.dark .featured-boxes-style-5 .featured-box .icon-featured {
	background: #282d36;
	border-color: #2e353e;
}

html.dark .featured-boxes-style-6 .featured-box {
	background: transparent;
}

html.dark .featured-boxes-style-6 .featured-box .icon-featured {
	background: #282d36;
	border-color: #2e353e;
}

html.dark .featured-boxes-style-6 .featured-box .icon-featured:after {
	border-color: #2e353e;
}

html.dark .featured-boxes-style-7 .featured-box {
	background: transparent;
}

html.dark .featured-boxes-style-7 .featured-box .icon-featured {
	background: #282d36;
	border-color: #2e353e;
}

html.dark .featured-boxes-style-7 .featured-box .icon-featured:after {
	box-shadow: 3px 3px #161a1e;
}

html.dark .featured-boxes-style-8 .featured-box .icon-featured {
	background: #2e353e;
}

html.dark .featured-box-effect-1 .icon-featured:after {
	box-shadow: 0 0 0 3px #2e353e;
}

html.dark .feature-box.feature-box-style-2 h4, html.dark .feature-box.feature-box-style-3 h4, html.dark .feature-box.feature-box-style-4 h4 {
	color: #FFF;
}

html.dark .feature-box.feature-box-style-6 .feature-box-icon {
	border-color: #2e353e;
}

html.dark .feature-box.feature-box-style-6 .feature-box-icon:after {
	border-color: #2e353e;
}

html.dark .owl-dots .owl-dot span {
	background: #2e353e;
}

html.dark .owl-carousel.top-border {
	border-top-color: #3F4247;
}

html.dark .progress {
	background: #2e353e;
}

html.dark .arrow {
	background-image: url(../img/arrows-dark.png);
}

html.dark .thumbnail,
html.dark .img-thumbnail,
html.dark .thumb-info {
	background-color: #282d36;
	border-color: #282d36;
}

html.dark .thumb-info .thumb-info-wrapper:after {
	background-color: rgba(29, 33, 39, 0.9);
}

html.dark .thumb-info-social-icons {
	border-top-color: #373f4a;
}

html.dark ul.nav-list > li a {
	border-bottom-color: #282d36;
}

html.dark ul.nav-list > li a:hover {
	background-color: #282d36;
}

html.dark .content-grid .content-grid-item:before {
	border-left-color: #2e353e;
}

html.dark .content-grid .content-grid-item:after {
	border-bottom-color: #2e353e;
}

html.dark .content-grid.content-grid-dashed .content-grid-item:before {
	border-left-color: #2e353e;
}

html.dark .content-grid.content-grid-dashed .content-grid-item:after {
	border-bottom-color: #2e353e;
}

html.dark .testimonial .testimonial-author strong {
	color: #FFF;
}

html.dark .testimonial.testimonial-style-3 blockquote {
	background: #2e353e !important;
}

html.dark .testimonial.testimonial-style-3 .testimonial-arrow-down {
	border-top-color: #2e353e !important;
}

html.dark .testimonial.testimonial-style-4 {
	border-color: #2e353e !important;
}

html.dark .testimonial.testimonial-style-5 .testimonial-author {
	border-top-color: #2e353e !important;
}

html.dark .page-header {
	border-bottom-color: #282d36;
}

html.dark .table > thead > tr > th,
html.dark .table > tbody > tr > th,
html.dark .table > tfoot > tr > th,
html.dark .table > thead > tr > td,
html.dark .table > tbody > tr > td,
html.dark .table > tfoot > tr > td,
html.dark .table-bordered {
	border-color: #282d36;
}

html.dark .table-striped > tbody > tr:nth-child(2n+1) > td,
html.dark .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #2e353e;
}

html.dark pre {
	background-color: #282d36;
	border-color: #282d36;
	color: #777777;
}

html.dark .show-grid [class*="col-md-"] .show-grid-block {
	background-color: #282d36;
	border-color: #282d36;
}

html.dark .google-map-borders,
html.dark .embed-responsive-borders {
	border-color: #2e353e;
}

html.dark .alert.alert-default {
	border-color: #2e353e;
	background-color: #282d36;
}

html.dark hr {
	background-image: -webkit-linear-gradient(left, transparent, #3f4247, transparent);
	background-image: linear-gradient(to right, transparent, #3f4247, transparent);
}

html.dark hr.light {
	background-image: -webkit-linear-gradient(left, transparent, #3f4247, transparent);
	background-image: linear-gradient(to right, transparent, #3f4247, transparent);
}

html.dark hr.solid {
	background: #3F4247;
}

html.dark .divider {
	background-image: -webkit-linear-gradient(left, transparent, #3f4247, transparent);
	background-image: linear-gradient(to right, transparent, #3f4247, transparent);
}

html.dark .divider .fa {
	background: #1d2127;
}

html.dark .divider.divider-solid {
	background: #3F4247;
}

html.dark .divider.divider-style-2 .fa {
	background: #21262d;
}

html.dark .divider.divider-style-3 .fa {
	border-color: #3F4247;
}

html.dark .divider.divider-style-4 .fa {
	border-color: #3F4247;
}

html.dark .divider.divider-style-4 .fa:after {
	border-color: #21262d;
}

html.dark .divider.divider-small {
	background: transparent;
}

html.dark .divider.divider-small hr {
	background: #3F4247;
}

html.dark .divider.divider-small.divider-light hr {
	background: #3F4247;
}

html.dark hr.dashed:after, html.dark .divider.dashed:after {
	border-color: #3F4247;
}

html.dark .heading.heading-bottom-border h1 {
	border-bottom-color: #3f4247;
}

html.dark .heading.heading-bottom-border h2, html.dark .heading.heading-bottom-border h3 {
	border-bottom-color: #3f4247;
}

html.dark .heading.heading-bottom-border h4, html.dark .heading.heading-bottom-border h5, html.dark .heading.heading-bottom-border h6 {
	border-bottom-color: #3f4247;
}

html.dark .heading.heading-bottom-double-border h1, html.dark .heading.heading-bottom-double-border h2, html.dark .heading.heading-bottom-double-border h3 {
	border-bottom-color: #3f4247;
}

html.dark .heading.heading-bottom-double-border h4, html.dark .heading.heading-bottom-double-border h5, html.dark .heading.heading-bottom-double-border h6 {
	border-bottom-color: #3f4247;
}

html.dark .heading.heading-middle-border:before {
	border-top-color: #3f4247;
}

html.dark .heading.heading-middle-border h1, html.dark .heading.heading-middle-border h2, html.dark .heading.heading-middle-border h3, html.dark .heading.heading-middle-border h4, html.dark .heading.heading-middle-border h5, html.dark .heading.heading-middle-border h6 {
	background: #1d2127;
}

html.dark ul.history li .thumb {
	background-image: url(../img/history-thumb-dark.png);
}

html.dark .recent-posts .date .day {
	background-color: #2e353e;
}

html.dark .blog-posts article {
	border-color: #282d36;
}

html.dark section.featured .recent-posts .date .day,
html.dark article.post .post-date .day {
	background-color: #282d36;
}

html.dark article .post-video,
html.dark article .post-video iframe,
html.dark article .post-audio,
html.dark article .post-audio iframe {
	background-color: #282d36;
	border-color: #282d36;
}

html.dark ul.simple-post-list li {
	border-bottom-color: #21262d;
}

html.dark .post-block {
	border-top-color: #191c21;
}

html.dark ul.comments .comment-block {
	background-color: #282d36;
}

html.dark ul.comments .comment-arrow {
	border-right-color: #282d36;
}

html.dark .pricing-table li {
	border-top-color: #21262d;
}

html.dark .pricing-table h3 {
	background-color: #21262d;
	text-shadow: none;
}

html.dark .pricing-table h3 span {
	background: #282d36;
	border-color: #242830;
	box-shadow: 0 5px 20px #242830 inset, 0 3px 0 #282d36 inset;
	color: #777777;
}

html.dark .pricing-table .most-popular {
	border-color: #282d36;
}

html.dark .pricing-table .most-popular h3 {
	background-color: #282d36;
	color: #FFF;
	text-shadow: none;
}

html.dark .pricing-table .plan-ribbon {
	background-color: #282d36;
}

html.dark .pricing-table .plan {
	background: #282d36;
	border: 1px solid #282d36;
	color: #777777;
	text-shadow: none;
}

html.dark .product-thumb-info {
	background-color: #282d36;
	border-color: transparent;
}

html.dark .shop .quantity .qty {
	background-color: #282d36;
	border-color: transparent;
}

html.dark .shop .quantity .minus,
html.dark .shop .quantity .plus {
	background-color: #21262d;
	border-color: transparent;
}

html.dark .shop table.cart td,
html.dark .shop .cart-totals th,
html.dark .shop .cart-totals td {
	border-color: #282d36;
}

html.dark .dialog {
	background-color: #1d2127;
}

html.dark .modal-content {
	background-color: #1d2127;
}

html.dark .modal-header {
	border-bottom-color: #282d36;
}

html.dark .modal-header h1, html.dark .modal-header h2, html.dark .modal-header h3, html.dark .modal-header h4, html.dark .modal-header h5, html.dark .modal-header h6 {
	color: #777777;
}

html.dark .modal-header .close {
	text-shadow: none;
	color: #FFF;
}

html.dark .modal-footer {
	border-top-color: #282d36;
}

html.dark .loading-overlay {
	background: #1d2127;
}

html.dark .loading-overlay .loader:after {
	-webkit-animation: animateLoaderAfterWhite 1s ease-in-out infinite;
	-moz-animation: animateLoaderAfterWhite 1s ease-in-out infinite;
	animation: animateLoaderAfterWhite 1s ease-in-out infinite;
}

html.dark #footer .newsletter form .btn-default {
	background-color: #21262d;
	border-color: #21262d;
	color: #777777;
}

/* Responsive */
@media (max-width: 991px) {
	html.dark #header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
		background: transparent !important;
	}
}
/* Boxed Layout */
html.boxed body {
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat;
}

html.boxed .body {
	background-color: #FFF;
	border-bottom: 5px solid #1d2127;
	border-radius: 5px;
	border-top: 5px solid #CCC;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	margin: 25px auto;
	max-width: 1200px;
	height: auto;
}

html.boxed #header {
	padding: 15px 0;
}

html.boxed #header.fixed {
	left: auto;
	width: auto;
}

html.boxed body.sticky-menu-active #header {
	width: auto;
	max-width: 1200px;
	margin: 0 auto;
	left: auto;
}

/* Responsive */
@media (max-width: 991px) {
	html.boxed .body {
		margin: 0 auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

@media (max-width: 767px) {
	/* Boxed */
	html.boxed {
		background: none !important;
	}
}
