﻿<form onkeypress="return event.keyCode != 13;">
    <div class="form-group">
        <label for="inpName">Name</label>
        <input id="inpName" type="text" class="form-control" data-bind="value: Name" />
    </div>
</form>

<input type="button" id="btnAddClassroom" class="btn btn-info" value="Add Classroom" data-bind="click: addClassroom" /> 