﻿
<form onkeypress="return event.keyCode != 13;">
    <div class="form-group">
        <label for="inpLessonName">Lesson Name</label>
        <input id="inpLessonName" type="text" class="form-control" data-bind="value: Name" />
    </div>

    <div class="form-group">
        <label for="inpStartTime">Start Time</label>
        <input id="inpStartTime" type="datetime-local" class="form-control" data-bind="value: StartTime" />
    </div>

    <div class="form-group">
        <label for="inpEndTime">End Time</label>
        <input id="inpEndTime" type="datetime-local" class="form-control" data-bind="value: EndTime" />
    </div>

    <div class="form-group">
        <label for="inpTeacher">Teacher</label>
        <select class="form-control" data-bind="options: teachers, value: Teacher">
            
            
        </select>
    </div>

</form>





<input type="button" id="btnAddLesson" class="btn btn-info" value="Add Lesson" data-bind="click: addLesson" /> 

