﻿<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Room</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: lessons">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: StartTime"></td>
            <td data-bind="text: EndTime"></td>
            <td data-bind="with: Classroom"><span data-bind="text: name"></span></td>
            <td data-bind="with: Teacher"><span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span></td>
            <td data-bind="with: Subject"><span data-bind="text: name"></span></td>
            <td><input type="button" class="btn btn-danger btn-xs" value=" [X] Delete " data-bind="click: $parent.removeLesson" /></td>
        </tr>
    </tbody>
</table>

<br />

<input type="button" class="btn btn-default" id="btnGetLessons" value="Refresh" data-bind="click: getLessons" /> 