﻿<form onkeypress="return event.keyCode != 13;">
    <div class="form-group">
        <label for="inpFirstName">First Name</label>
        <input id="inpFirstName" type="text" class="form-control" data-bind="value: FirstName" />
    </div>

    <div class="form-group">
        <label for="inpLastName">Last Name</label>
        <input id="inpLastName" type="text" class="form-control" data-bind="value: LastName" />
    </div>
</form>

<input type="button" id="btnAddPupil" class="btn btn-info" value="Add Pupil" data-bind="click: addPupil" /> 