﻿<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: subjects">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td><input type="button" class="btn btn-danger btn-xs" value=" [X] Delete " data-bind="click: $parent.removeSubject" /></td>
        </tr>
    </tbody>
</table>

<br />
<input type="button" class="btn btn-default" id="btnGetTeachers" value="Refresh" data-bind="click: getSubjects" />
