﻿<form onkeypress="return event.keyCode != 13;">
    <div class="form-group">
        <label for="inpFirstName">First Name</label>
        <input id="inpFirstName" type="text" class="form-control" data-bind="value: FirstName" />
    </div>

    <div class="form-group">
        <label for="inpLastName">Last Name</label>
        <input id="inpLastName" type="text" class="form-control" data-bind="value: LastName" />
    </div>

    <div class="form-group">
        <label for="inpEmailAddress">Email Address</label>
        <input id="inpEmailAddress" type="email" class="form-control" data-bind="value: EmailAddress" />
    </div>
</form>

<input type="button" id="btnAddTeacher" class="btn btn-info" value="Add Teacher" data-bind="click: addTeacher" /> 