﻿<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: teachers">
        <tr>
            <td data-bind="text: Id"></td>
            <td><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></td>
            <td data-bind="text: EmailAddress"></td>

            <td><input type="button" class="btn btn-danger btn-xs" value=" [X] Delete " data-bind="click: $parent.removeTeacher" /></td>
        </tr>
    </tbody>
</table>

<br />
<input type="button" class="btn btn-default" id="btnGetTeachers" value="Refresh" data-bind="click: getTeachers" />
